<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EJS Is Fun</title>
<!-- CSS (load bootstrap from a CDN) -->
<%- include('header'); -%>
</head>
<body>
    <h1>Wellcome to Store</h1>
</body>
<%- include('footer'); -%>
</html>
